
@font-face {
  font-family: 'NinjutsuBB';
  src: url('NinjutsuBB.eot?#iefix') format('embedded-opentype'),  url('NinjutsuBB.woff') format('woff'), url('NinjutsuBB.ttf')  format('truetype'), url('NinjutsuBB.svg#NinjutsuBB') format('svg');
  font-weight: normal;
  font-style: normal;
}
